<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jaggu</title>
    <link rel="stylesheet"  href="{% static 'css/job1.css'%}">
</head>
<center>
<body>
<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Jagadeesh Jobs Updates</h1>
    <p> Continous updates for every hour......</p>
    <a class="btn btn-primary btn-lg" href="/hydjob">Hyderabad Jobs</a>&nbsp&nbsp&nbsp
      <a class="btn btn-primary btn-lg" href="/apjob">Andhra Pradesh Jobs</a>&nbsp&nbsp&nbsp
      <a class="btn btn-primary btn-lg" href="/kajob">Karnataka Jobs</a>&nbsp&nbsp&nbsp

  </div>
</div>
</body>
</center>
</html>